{% load i18n %}

{% load relationship_tags follow_tags %}
{% load voting_tags %}

{% block content %}
{% if not is_incremental %}
<div class="scrollContainer" style="min-width:500px;max-height:100px;overflow:auto;" data-href="{{data_href}}" data-chunk="5">
{% endif %}
<table>
{% for commenter in commenters %}
    <tr>
    <td>
      {% include 'generic/includes/render_owner.html' with owner=commenter %}
    </td>
    <td>
      {% include 'actstream/render_actor_name.html' with actor=commenter %}  
    </td>
    {% if commenter != request.user %}
        <td>
        <div class="follow-button-container action-follow-user {% if_relationship request.user commenter "following" %}following{% endif_relationship %}" style="position:relative;right:-50px;">

            <a  href="{{ commenter|add_relationship_url:"following" }}" class="follow-btn form-button form-button-follow form-button-small form-button-default form-button-left-icon form-button-icon-follow">Follow</a>
            <a class="form-button form-button-following form-button-small form-button-light-and-grey form-button-left-icon form-button-icon-following">Following</a>
            <a  href="{{ commenter|remove_relationship_url:"following" }}" class="unfollow-btn form-button form-button-unfollow form-button-small form-button-red form-button-left-icon form-button-icon-unfollow">Unfollow</a>
        </div> 
        </td>
    {% endif %}
    </tr>
{% endfor %}
</table>
{% if not is_incremental %}
</div>
{% endif %}
{% endblock %}
